body {
  margin: 0px;
  font-family: "IBM Plex Sans";
}

.sidebar-content {
  width: 100%;
}

.bx--content {
  padding: 1rem 1rem 1rem 2rem !important;
}

@media (min-width: 66rem) {
  .sidebar-content {
    margin-left: 14rem !important;
  }
}

@media (min-width: 42rem) {
  .bx--grid {
    padding-right: 1rem !important;
  }
}

.bx--side-nav__navigation {
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.32);
}
