// @import "./ReactTable/ReactTable.scss";
body {
  margin: 0px;
  font-family: "IBM Plex Sans";
  overflow: hidden;
}
header {
  position: unset !important;
}
main-content,
.bx--content {
  margin-top: 0rem !important;
}
.bx--header ~ .bx--content {
  margin-top: 0rem !important;
}
.bx--btn--sm {
  min-height: 2rem !important;
  padding: calc(0.375rem - 3px) 12px calc(0.375rem - 3px) 12px !important;
}

.add-data-button {
  width: 142px;
  height: 38px;
  svg {
    fill: white;
  }
}

.setting-icon {
  padding: 6px !important;
  height: 38px !important;
  svg {
    height: 38px;
    width: 24px;
  }
}

.tollbar-content {
  .bx--toolbar-search-container-expandable {
    height: 38px;
    .search-box {
      svg {
        padding: 8px;
        height: 38px;
      }
    }
  }
  .bx--toolbar-search-container-active {
    width: 250px !important;
    flex: none !important;
  }
}

.bx--side-nav {
  max-width: 17% !important;
}

.bx--data-table-header {
  padding: 1rem 0 1rem 1rem !important;
}

.bx--table-toolbar {
  height: 38px !important;
}

.sidebar-content {
  width: 100%;
}

.bx--content {
  padding: 1rem 1rem 1rem 1rem !important;
}

@media (min-width: 66rem) {
  .sidebar-content {
    margin-left: 16.5% !important;
  }
}

@media (min-width: 42rem) {
  .bx--grid {
    padding-right: 1rem !important;
  }
}

.bx--side-nav__navigation {
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.32);
}

.bx--data-table tr {
  height: 0rem !important;
}

.bx--data-table td,
.bx--data-table tbody th {
  // padding-bottom: 0rem !important;
  padding: 0.5rem 1rem !important;
}

.modal-wrapper {
  position: relative;
}

.action-wrapper {
  display: flex;
  justify-content: space-around;
  .edit-in-table {
    fill: green;
    cursor: pointer;
  }

  .delete-in-table {
    fill: red;
    cursor: pointer;
  }
  .devider {
    border-left: 1px solid silver;
    margin: 0 16%;
  }
}

.table-wrapper {
  overflow-x: scroll;
  width: 128vh;
  .bx--data-table {
    width: max-content !important;
  }
}

.modal-custome-footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
