html
    body
    div
        p Hello World! I am in a paragraph. I am optional here :(
        .
            Hey there!
            I am in a block but in `div` tag.
            Because, dot without a tag will put me in parent tag.

//html
//body
//    h1 Dear {user.name},!
//    p Your account has been created. Welcome to the la city community!.
//    p From now on, please verify your email and login into your account using your email address and password.


