.pagetop-wrapper {
  background-color: #f3f3f3;
  height: 8vh;
}

.page-wrapper {
  height: 88.9vh;
}

.add-things-button {
  height: 14px;
  padding: 1% !important;
  svg {
    stroke: white;
    fill: white;
  }
}
