.assign-headding-wrapper {
  display: flex;
  justify-content: space-between;
}

.dropdown-padding {
  padding: 0px !important;
}

.sorting-table-wrapper {
  table,
  td,
  th {
    // border: 1px solid #ddd;
    text-align: left;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
  }

  th,
  td {
    padding: 8px;
    width: 20%;
  }

  .sorting-table-header {
    background-color: #e0e0e0;
    font-weight: bold;
  }

  .sorting-table-input {
    border: 0;
    width: 100%;
    transition: border 5s ease-in;
  }
  input {
    &:focus {
      outline: 0;
      border-bottom: 1px black solid;
    }
  }
}
